<!DOCTYPE html>
<html>
<body>
    <h2 class="mt-4">Dashboard</h2>
    <p class="lead mb-3">Welcome <%=username%></p>
    <div class="row mt-7">
      <div class="col-md-7 m-auto">
        <div class="card card-body text-left">
          <form id="create-game-form" action="">
            <div class="form-group">
              <label for="gameName">Game Name</label>
              <input
                type="gameName"
                id="gameName"
                name="gameName"
                class="form-control"
                placeholder="Enter Game Name"
              />
            </div>
            <div class="form-group">
              <label for="numberPlayers">Number of Players </label>
              <input
                type="numberPlayers"
                id="numberPlayers"
                name="numberPlayers"
                class="form-control"
                placeholder="Number of players"
              />
            </div>
            
            <button type="submit" class="btn btn-primary btn-block">Create</button>
          </form>
    </div>
</div>
</div>

<!-- <form action="/index/room" method="POST">
  <input name="room" type="text" required>
  <button type="submit">New Room</button>
</form> -->
<script defer src="/socket.io/socket.io.js"></script>
<script defer src="/public/script.js"></script>
</body>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<a href="/lobby" class="btn btn-secondary">Lobby</a>