<!DOCTYPE html>
<body>
          <div class="row mt-5">
            <div class="col-md-10 m-auto">
              <div class="card card-body text-center">  
                <p>ADD GAMES FROM DATABASE</p>
              </div>
            </div>
          </div>
          <div id="room-container">
            <% Object.keys(rooms).forEach(room => { %>
              <div><%= room %></div>
              <a href="/<%= room %>">Join</a>
            <% }) %>
          </div>
          <form action="/room" method="POST">
            <input name="room" type="text" required>
            <button type="submit">New Room</button>
          </form>
    </body>

      <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
      <script defer src="../public/script.js"></script>
</html>