<!DOCTYPE html>
          <div class="row mt-5">
            <div class="col-md-10 m-auto">
              <div class="card card-body text-center">  
                <p>ADD GAMES FROM DATABASE</p>
              </div>
            </div>
          </div>
    </body>
      <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
      <script defer src="../public/script.js"></script>
</html>