<!DOCTYPE html>
<html>
  <head>
    <title>Simple Group Chat on Node.js</title>
    <style>
       
    </style>
    <script src="../../socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  </head>
<body>
<div class="container">
    <div class="create game">
        <h1 onclick=createGame>Create Game</h1>
    </div>
    <div class="split left">
        <h1 class="my-4 text-center text-lg-left">Current Games</h1>
        </br>
        <div class="current_games"></div>
    </div>
    <div class="split right">
        <h1 class="my-4 text-center text-lg-left">Chat</h1>
        <ul id="messages"></ul>
        <form action="">
            <input id="text" autocomplete="off"/>
            <button>Send</button>
        </form>
    </div>
</div>

<script>
    var socket = io.connect('http://localhost:8080');
            // submit text message without reload/refresh the page
            $('form').submit(function(event){
                event.preventDefault(); // prevents page reloading
                socket.emit('chat message', {text:$('#text').val(),socketid:socket.id);
                $('#text').val('');
                return false;
            });
            // append the chat text message
            socket.on('chat_message', function(msg){
                $('#messages').append($('<li>').text(msg.username+": "+msg.message));
            });
</script>
<script src="/scripts/lobby.js"></script>
</body>
</html>